diffusers[torch]==0.25.0
transformers
imageio==2.27.0
decord==0.6.0
gdown
einops
omegaconf
safetensors
gradio
wandb
accelerate>=0.16.0
deepspeed==0.9.3
tqdm
numpy
triton
packaging
pyre-extensions==0.0.29
opencv-python
matplotlib
